In [1]:
import requests
from requests.auth import HTTPBasicAuth 
BASE_URL = "http://localhost:2480"
AUTH = HTTPBasicAuth("root", "playwithdata")

In [5]:
def create_database(name):
    url = f"{BASE_URL}/api/v1/server"
    payload = { "command": f"create database {name}" }
    response = requests.post(url, json=payload, auth=AUTH)
    print(f"[CREATE DB] Status: {response.status_code}\nResponse: {response.text}\n")

create_database("LIBRARY_DATA")

[CREATE DB] Status: 200
Response: {"result":"ok"}

In [ ]:
DB_NAME = "LIBRARY_DATA"

In [59]:

def run_sql(sql):
    logging.info(f"Running SQL:\n{sql.strip()}")
    url = f"{BASE_URL}/api/v1/command/{DB_NAME}"
    payload = {"command": sql, "language": "sqlscript"}
    response = requests.post(url, json=payload, auth=AUTH)
    try:
        json_data = response.json()
        if response.status_code == 200:
            logging.info(f" Success: {json_data}")
        else:
            logging.error(f" HTTP {response.status_code}: {json_data}")
        return json_data
    except Exception:
        logging.error(f" Non-JSON Response: {response.text}")

In [34]:


# --- Create Schema ---
def create_schema():
    logging.info("üîß Creating schema...")
    schema_sql = """
    CREATE VERTEX TYPE Book;
    CREATE VERTEX TYPE Author;
    CREATE VERTEX TYPE Publisher;
    CREATE VERTEX TYPE Category;

    CREATE EDGE TYPE WRITTEN_BY;
    CREATE EDGE TYPE PUBLISHED_BY;
    CREATE EDGE TYPE HAS_CATEGORY;
    """
    run_sql(schema_sql)

# --- Insert Book with Relations ---
def insert_rich_book(book):
    logging.info(f"üìö Inserting book: {book['title']}")
    summary = book["summary"].replace("'", "\\'")
    run_sql(f"""
    INSERT INTO Book SET
        title = '{book["title"]}',
        isbn = '{book["isbn"]}',
        year = {book["year"]},
        summary = '{summary}',
        edition = '{book["edition"]}'
    """)

    pub = book["publisher"]
    run_sql(f"""
    INSERT INTO Publisher SET name = '{pub["name"]}', location = '{pub["location"]}';
    CREATE EDGE PUBLISHED_BY FROM (SELECT FROM Book WHERE isbn = '{book["isbn"]}')
    TO (SELECT FROM Publisher WHERE name = '{pub["name"]}');
    """)

    for author in book["authors"]:
        run_sql(f"""
        INSERT INTO Author SET name = '{author["name"]}', nationality = '{author["nationality"]}', birth_year = {author["birth_year"]};
        CREATE EDGE WRITTEN_BY FROM (SELECT FROM Book WHERE isbn = '{book["isbn"]}')
        TO (SELECT FROM Author WHERE name = '{author["name"]}');
        """)

    for cat in book["categories"]:
        run_sql(f"INSERT INTO Category SET name = '{cat}';")
        run_sql(f"""
        CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '{book["isbn"]}')
        TO (SELECT FROM Category WHERE name = '{cat}');
        """)

    logging.info(f"‚úÖ Finished inserting book: {book['title']}\n")

# --- Main ---
if __name__ == "__main__":
    create_schema()

    book_data = {
        "title": "A Brief History of Time",
        "isbn": "9780553380163",
        "year": 1988,
        "summary": "A landmark volume in science writing by one of the great minds of our time.",
        "edition": "First",
        "authors": [
            {"name": "Stephen Hawking", "nationality": "British", "birth_year": 1942}
        ],
        "publisher": {"name": "Bantam Books", "location": "New York"},
        "categories": ["Science", "Cosmology"]
    }

    insert_rich_book(book_data)

2025-07-23 13:58:54,588 [INFO] üîß Creating schema...
2025-07-23 13:58:54,589 [INFO] Running SQL:
CREATE VERTEX TYPE Book;
    CREATE VERTEX TYPE Author;
    CREATE VERTEX TYPE Publisher;
    CREATE VERTEX TYPE Category;

    CREATE EDGE TYPE WRITTEN_BY;
    CREATE EDGE TYPE PUBLISHED_BY;
    CREATE EDGE TYPE HAS_CATEGORY;
2025-07-23 13:58:54,706 [ERROR] ‚ùå HTTP 500: {'error': 'Error on transaction commit', 'detail': 'Type Book already exists', 'exception': 'com.arcadedb.exception.CommandExecutionException'}
2025-07-23 13:58:54,707 [INFO] üìö Inserting book: A Brief History of Time
2025-07-23 13:58:54,708 [INFO] Running SQL:
INSERT INTO Book SET
        title = 'A Brief History of Time',
        isbn = '9780553380163',
        year = 1988,
        summary = 'A landmark volume in science writing by one of the great minds of our time.',
        edition = 'First'
2025-07-23 13:58:54,748 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:6', '@type': 'Book', '@cat': 'v', 'title': 'A Brief History of Time', 'isbn': '9780553380163', 'year': 1988, 'summary': 'A landmark volume in science writing by one of the great minds of our time.', 'edition': 'First'}]}
2025-07-23 13:58:54,749 [INFO] Running SQL:
INSERT INTO Publisher SET name = 'Bantam Books', location = 'New York';
    CREATE EDGE PUBLISHED_BY FROM (SELECT FROM Book WHERE isbn = '9780553380163')
    TO (SELECT FROM Publisher WHERE name = 'Bantam Books');
2025-07-23 13:58:54,789 [INFO] ‚úÖ Success: {'result': [{'@rid': '#14:25', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:0', '@out': '#1:0'}, {'@rid': '#14:26', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:1', '@out': '#1:0'}, {'@rid': '#14:27', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:2', '@out': '#1:0'}, {'@rid': '#14:28', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:5', '@out': '#1:0'}, {'@rid': '#14:29', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:0', '@out': '#1:1'}, {'@rid': '#14:30', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:1', '@out': '#1:1'}, {'@rid': '#14:31', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:2', '@out': '#1:1'}, {'@rid': '#14:32', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:5', '@out': '#1:1'}, {'@rid': '#14:33', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:0', '@out': '#1:2'}, {'@rid': '#14:34', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:1', '@out': '#1:2'}, {'@rid': '#14:35', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:2', '@out': '#1:2'}, {'@rid': '#14:36', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:5', '@out': '#1:2'}, {'@rid': '#14:37', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:0', '@out': '#1:3'}, {'@rid': '#14:38', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:1', '@out': '#1:3'}, {'@rid': '#14:39', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:2', '@out': '#1:3'}, {'@rid': '#14:40', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:5', '@out': '#1:3'}, {'@rid': '#14:41', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:0', '@out': '#1:6'}, {'@rid': '#14:42', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:1', '@out': '#1:6'}, {'@rid': '#14:43', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:2', '@out': '#1:6'}, {'@rid': '#14:44', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:5', '@out': '#1:6'}]}
2025-07-23 13:58:54,790 [INFO] Running SQL:
INSERT INTO Author SET name = 'Stephen Hawking', nationality = 'British', birth_year = 1942;
        CREATE EDGE WRITTEN_BY FROM (SELECT FROM Book WHERE isbn = '9780553380163')
        TO (SELECT FROM Author WHERE name = 'Stephen Hawking');
2025-07-23 13:58:54,817 [INFO] ‚úÖ Success: {'result': [{'@rid': '#13:20', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:0', '@out': '#1:0'}, {'@rid': '#13:21', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:1', '@out': '#1:0'}, {'@rid': '#13:22', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:2', '@out': '#1:0'}, {'@rid': '#13:23', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:3', '@out': '#1:0'}, {'@rid': '#13:24', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:0', '@out': '#1:1'}, {'@rid': '#13:25', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:1', '@out': '#1:1'}, {'@rid': '#13:26', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:2', '@out': '#1:1'}, {'@rid': '#13:27', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:3', '@out': '#1:1'}, {'@rid': '#13:28', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:0', '@out': '#1:2'}, {'@rid': '#13:29', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:1', '@out': '#1:2'}, {'@rid': '#13:30', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:2', '@out': '#1:2'}, {'@rid': '#13:31', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:3', '@out': '#1:2'}, {'@rid': '#13:32', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:0', '@out': '#1:3'}, {'@rid': '#13:33', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:1', '@out': '#1:3'}, {'@rid': '#13:34', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:2', '@out': '#1:3'}, {'@rid': '#13:35', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:3', '@out': '#1:3'}, {'@rid': '#13:36', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:0', '@out': '#1:6'}, {'@rid': '#13:37', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:1', '@out': '#1:6'}, {'@rid': '#13:38', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:2', '@out': '#1:6'}, {'@rid': '#13:39', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:3', '@out': '#1:6'}]}
2025-07-23 13:58:54,818 [INFO] Running SQL:
INSERT INTO Category SET name = 'Science';
2025-07-23 13:58:54,833 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:8', '@type': 'Category', '@cat': 'v', 'name': 'Science'}]}
2025-07-23 13:58:54,834 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780553380163')
        TO (SELECT FROM Category WHERE name = 'Science');
2025-07-23 13:58:54,861 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:60', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:0', '@out': '#1:0'}, {'@rid': '#15:61', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:2', '@out': '#1:0'}, {'@rid': '#15:62', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:4', '@out': '#1:0'}, {'@rid': '#15:63', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:6', '@out': '#1:0'}, {'@rid': '#15:64', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:8', '@out': '#1:0'}, {'@rid': '#15:65', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:0', '@out': '#1:1'}, {'@rid': '#15:66', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:2', '@out': '#1:1'}, {'@rid': '#15:67', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:4', '@out': '#1:1'}, {'@rid': '#15:68', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:6', '@out': '#1:1'}, {'@rid': '#15:69', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:8', '@out': '#1:1'}, {'@rid': '#15:70', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:0', '@out': '#1:2'}, {'@rid': '#15:71', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:2', '@out': '#1:2'}, {'@rid': '#15:72', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:4', '@out': '#1:2'}, {'@rid': '#15:73', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:6', '@out': '#1:2'}, {'@rid': '#15:74', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:8', '@out': '#1:2'}, {'@rid': '#15:75', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:0', '@out': '#1:3'}, {'@rid': '#15:76', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:2', '@out': '#1:3'}, {'@rid': '#15:77', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:4', '@out': '#1:3'}, {'@rid': '#15:78', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:6', '@out': '#1:3'}, {'@rid': '#15:79', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:8', '@out': '#1:3'}, {'@rid': '#15:80', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:0', '@out': '#1:6'}, {'@rid': '#15:81', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:2', '@out': '#1:6'}, {'@rid': '#15:82', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:4', '@out': '#1:6'}, {'@rid': '#15:83', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:6', '@out': '#1:6'}, {'@rid': '#15:84', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:8', '@out': '#1:6'}]}
2025-07-23 13:58:54,863 [INFO] Running SQL:
INSERT INTO Category SET name = 'Cosmology';
2025-07-23 13:58:54,882 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:9', '@type': 'Category', '@cat': 'v', 'name': 'Cosmology'}]}
2025-07-23 13:58:54,883 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780553380163')
        TO (SELECT FROM Category WHERE name = 'Cosmology');
2025-07-23 13:58:54,925 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:85', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:1', '@out': '#1:0'}, {'@rid': '#15:86', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:3', '@out': '#1:0'}, {'@rid': '#15:87', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:5', '@out': '#1:0'}, {'@rid': '#15:88', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:7', '@out': '#1:0'}, {'@rid': '#15:89', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:9', '@out': '#1:0'}, {'@rid': '#15:90', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:1', '@out': '#1:1'}, {'@rid': '#15:91', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:3', '@out': '#1:1'}, {'@rid': '#15:92', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:5', '@out': '#1:1'}, {'@rid': '#15:93', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:7', '@out': '#1:1'}, {'@rid': '#15:94', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:9', '@out': '#1:1'}, {'@rid': '#15:95', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:1', '@out': '#1:2'}, {'@rid': '#15:96', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:3', '@out': '#1:2'}, {'@rid': '#15:97', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:5', '@out': '#1:2'}, {'@rid': '#15:98', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:7', '@out': '#1:2'}, {'@rid': '#15:99', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:9', '@out': '#1:2'}, {'@rid': '#15:100', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:1', '@out': '#1:3'}, {'@rid': '#15:101', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:3', '@out': '#1:3'}, {'@rid': '#15:102', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:5', '@out': '#1:3'}, {'@rid': '#15:103', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:7', '@out': '#1:3'}, {'@rid': '#15:104', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:9', '@out': '#1:3'}, {'@rid': '#15:105', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:1', '@out': '#1:6'}, {'@rid': '#15:106', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:3', '@out': '#1:6'}, {'@rid': '#15:107', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:5', '@out': '#1:6'}, {'@rid': '#15:108', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:7', '@out': '#1:6'}, {'@rid': '#15:109', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:9', '@out': '#1:6'}]}
2025-07-23 13:58:54,928 [INFO] ‚úÖ Finished inserting book: A Brief History of Time

Storing data

In [35]:
more_books = [
    {
        "title": "Sapiens: A Brief History of Humankind",
        "isbn": "9780062316097",
        "year": 2011,
        "summary": "Explores the history and impact of Homo sapiens.",
        "edition": "First",
        "authors":[ {
            "name": "Yuval Noah Harari",
            "nationality": "Israeli",
            "birth_year": 1976
        }],
        "publisher": {
            "name": "Harper",
            "location": "New York"
        },
        "categories": ["History", "Anthropology"]
    },
    {
        "title": "Thinking, Fast and Slow",
        "isbn": "9780374533557",
        "year": 2011,
        "summary": "Daniel Kahneman presents decades of research to help us understand how decisions are made.",
        "edition": "First",
        "authors": [{
            "name": "Daniel Kahneman",
            "nationality": "Israeli-American",
            "birth_year": 1934
        }],
        "publisher": {
            "name": "Farrar, Straus and Giroux",
            "location": "New York"
        },
        "categories": ["Psychology", "Cognitive Science"]
    },
    {
        "title": "To Kill a Mockingbird",
        "isbn": "9780061120084",
        "year": 1960,
        "summary": "A novel about the serious issues of rape and racial inequality.",
        "edition": "First",
        "authors":[ {
            "name": "Harper Lee",
            "nationality": "American",
            "birth_year": 1926
        }],
        "publisher": {
            "name": "J.B. Lippincott & Co.",
            "location": "Philadelphia"
        },
        "categories": ["Fiction", "Social Justice"]
    },
    {
        "title": "1984",
        "isbn": "9780451524935",
        "year": 1949,
        "summary": "A dystopian novel set in a totalitarian society under constant surveillance.",
        "edition": "First",
        "authors": [{
            "name": "George Orwell",
            "nationality": "British",
            "birth_year": 1903
        }],
        "publisher": {
            "name": "Secker & Warburg",
            "location": "London"
        },
        "categories": ["Fiction", "Dystopia", "Politics"]
    },
    {
        "title": "The Origin of Species",
        "isbn": "9781509827695",
        "year": 1859,
        "summary": "The foundational text of evolutionary biology.",
        "edition": "Original",
        "authors": [{
            "name": "Charles Darwin",
            "nationality": "British",
            "birth_year": 1809
        }],
        "publisher": {
            "name": "John Murray",
            "location": "London"
        },
        "categories": ["Biology", "Evolution", "Science"]
    }
]

# Insert all books in the list
for book in more_books:
    insert_rich_book(book)

2025-07-23 14:03:51,995 [INFO] üìö Inserting book: Sapiens: A Brief History of Humankind
2025-07-23 14:03:52,031 [INFO] Running SQL:
INSERT INTO Book SET
        title = 'Sapiens: A Brief History of Humankind',
        isbn = '9780062316097',
        year = 2011,
        summary = 'Explores the history and impact of Homo sapiens.',
        edition = 'First'
2025-07-23 14:03:59,483 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:7', '@type': 'Book', '@cat': 'v', 'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First'}]}
2025-07-23 14:03:59,494 [INFO] Running SQL:
INSERT INTO Publisher SET name = 'Harper', location = 'New York';
    CREATE EDGE PUBLISHED_BY FROM (SELECT FROM Book WHERE isbn = '9780062316097')
    TO (SELECT FROM Publisher WHERE name = 'Harper');
2025-07-23 14:04:01,010 [INFO] ‚úÖ Success: {'result': [{'@rid': '#14:45', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:3', '@out': '#1:4'}, {'@rid': '#14:46', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:4', '@out': '#1:4'}, {'@rid': '#14:47', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:6', '@out': '#1:4'}, {'@rid': '#14:48', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:3', '@out': '#1:5'}, {'@rid': '#14:49', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:4', '@out': '#1:5'}, {'@rid': '#14:50', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:6', '@out': '#1:5'}, {'@rid': '#14:51', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:3', '@out': '#1:7'}, {'@rid': '#14:52', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:4', '@out': '#1:7'}, {'@rid': '#14:53', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:6', '@out': '#1:7'}]}
2025-07-23 14:04:01,073 [INFO] Running SQL:
INSERT INTO Author SET name = 'Yuval Noah Harari', nationality = 'Israeli', birth_year = 1976;
        CREATE EDGE WRITTEN_BY FROM (SELECT FROM Book WHERE isbn = '9780062316097')
        TO (SELECT FROM Author WHERE name = 'Yuval Noah Harari');
2025-07-23 14:04:01,549 [INFO] ‚úÖ Success: {'result': [{'@rid': '#13:40', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:4', '@out': '#1:4'}, {'@rid': '#13:41', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:4', '@out': '#1:5'}, {'@rid': '#13:42', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:4', '@out': '#1:7'}]}
2025-07-23 14:04:01,571 [INFO] Running SQL:
INSERT INTO Category SET name = 'History';
2025-07-23 14:04:01,771 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:10', '@type': 'Category', '@cat': 'v', 'name': 'History'}]}
2025-07-23 14:04:01,789 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780062316097')
        TO (SELECT FROM Category WHERE name = 'History');
2025-07-23 14:04:02,264 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:110', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:10', '@out': '#1:4'}, {'@rid': '#15:111', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:10', '@out': '#1:5'}, {'@rid': '#15:112', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:10', '@out': '#1:7'}]}
2025-07-23 14:04:02,290 [INFO] Running SQL:
INSERT INTO Category SET name = 'Anthropology';
2025-07-23 14:04:02,504 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:11', '@type': 'Category', '@cat': 'v', 'name': 'Anthropology'}]}
2025-07-23 14:04:02,524 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780062316097')
        TO (SELECT FROM Category WHERE name = 'Anthropology');
2025-07-23 14:04:02,968 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:113', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:11', '@out': '#1:4'}, {'@rid': '#15:114', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:11', '@out': '#1:5'}, {'@rid': '#15:115', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:11', '@out': '#1:7'}]}
2025-07-23 14:04:02,987 [INFO] ‚úÖ Finished inserting book: Sapiens: A Brief History of Humankind

2025-07-23 14:04:03,000 [INFO] üìö Inserting book: Thinking, Fast and Slow
2025-07-23 14:04:03,013 [INFO] Running SQL:
INSERT INTO Book SET
        title = 'Thinking, Fast and Slow',
        isbn = '9780374533557',
        year = 2011,
        summary = 'Daniel Kahneman presents decades of research to help us understand how decisions are made.',
        edition = 'First'
2025-07-23 14:04:03,226 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:8', '@type': 'Book', '@cat': 'v', 'title': 'Thinking, Fast and Slow', 'isbn': '9780374533557', 'year': 2011, 'summary': 'Daniel Kahneman presents decades of research to help us understand how decisions are made.', 'edition': 'First'}]}
2025-07-23 14:04:03,239 [INFO] Running SQL:
INSERT INTO Publisher SET name = 'Farrar, Straus and Giroux', location = 'New York';
    CREATE EDGE PUBLISHED_BY FROM (SELECT FROM Book WHERE isbn = '9780374533557')
    TO (SELECT FROM Publisher WHERE name = 'Farrar, Straus and Giroux');
2025-07-23 14:04:03,734 [INFO] ‚úÖ Success: {'result': [{'@rid': '#14:54', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:7', '@out': '#1:8'}]}
2025-07-23 14:04:03,764 [INFO] Running SQL:
INSERT INTO Author SET name = 'Daniel Kahneman', nationality = 'Israeli-American', birth_year = 1934;
        CREATE EDGE WRITTEN_BY FROM (SELECT FROM Book WHERE isbn = '9780374533557')
        TO (SELECT FROM Author WHERE name = 'Daniel Kahneman');
2025-07-23 14:04:04,112 [INFO] ‚úÖ Success: {'result': [{'@rid': '#13:43', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:5', '@out': '#1:8'}]}
2025-07-23 14:04:04,129 [INFO] Running SQL:
INSERT INTO Category SET name = 'Psychology';
2025-07-23 14:04:04,443 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:12', '@type': 'Category', '@cat': 'v', 'name': 'Psychology'}]}
2025-07-23 14:04:04,518 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780374533557')
        TO (SELECT FROM Category WHERE name = 'Psychology');
2025-07-23 14:04:05,260 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:116', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:12', '@out': '#1:8'}]}
2025-07-23 14:04:05,278 [INFO] Running SQL:
INSERT INTO Category SET name = 'Cognitive Science';
2025-07-23 14:04:05,589 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:13', '@type': 'Category', '@cat': 'v', 'name': 'Cognitive Science'}]}
2025-07-23 14:04:05,629 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780374533557')
        TO (SELECT FROM Category WHERE name = 'Cognitive Science');
2025-07-23 14:04:06,426 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:117', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:13', '@out': '#1:8'}]}
2025-07-23 14:04:06,449 [INFO] ‚úÖ Finished inserting book: Thinking, Fast and Slow

2025-07-23 14:04:06,472 [INFO] üìö Inserting book: To Kill a Mockingbird
2025-07-23 14:04:06,494 [INFO] Running SQL:
INSERT INTO Book SET
        title = 'To Kill a Mockingbird',
        isbn = '9780061120084',
        year = 1960,
        summary = 'A novel about the serious issues of rape and racial inequality.',
        edition = 'First'
2025-07-23 14:04:06,937 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:9', '@type': 'Book', '@cat': 'v', 'title': 'To Kill a Mockingbird', 'isbn': '9780061120084', 'year': 1960, 'summary': 'A novel about the serious issues of rape and racial inequality.', 'edition': 'First'}]}
2025-07-23 14:04:06,966 [INFO] Running SQL:
INSERT INTO Publisher SET name = 'J.B. Lippincott & Co.', location = 'Philadelphia';
    CREATE EDGE PUBLISHED_BY FROM (SELECT FROM Book WHERE isbn = '9780061120084')
    TO (SELECT FROM Publisher WHERE name = 'J.B. Lippincott & Co.');
2025-07-23 14:04:07,753 [INFO] ‚úÖ Success: {'result': [{'@rid': '#14:55', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:8', '@out': '#1:9'}]}
2025-07-23 14:04:07,771 [INFO] Running SQL:
INSERT INTO Author SET name = 'Harper Lee', nationality = 'American', birth_year = 1926;
        CREATE EDGE WRITTEN_BY FROM (SELECT FROM Book WHERE isbn = '9780061120084')
        TO (SELECT FROM Author WHERE name = 'Harper Lee');
2025-07-23 14:04:08,369 [INFO] ‚úÖ Success: {'result': [{'@rid': '#13:44', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:6', '@out': '#1:9'}]}
2025-07-23 14:04:08,386 [INFO] Running SQL:
INSERT INTO Category SET name = 'Fiction';
2025-07-23 14:04:08,721 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:14', '@type': 'Category', '@cat': 'v', 'name': 'Fiction'}]}
2025-07-23 14:04:08,735 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780061120084')
        TO (SELECT FROM Category WHERE name = 'Fiction');
2025-07-23 14:04:10,036 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:118', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:14', '@out': '#1:9'}]}
2025-07-23 14:04:10,047 [INFO] Running SQL:
INSERT INTO Category SET name = 'Social Justice';
2025-07-23 14:04:10,211 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:15', '@type': 'Category', '@cat': 'v', 'name': 'Social Justice'}]}
2025-07-23 14:04:10,222 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780061120084')
        TO (SELECT FROM Category WHERE name = 'Social Justice');
2025-07-23 14:04:10,545 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:119', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:15', '@out': '#1:9'}]}
2025-07-23 14:04:10,554 [INFO] ‚úÖ Finished inserting book: To Kill a Mockingbird

2025-07-23 14:04:10,562 [INFO] üìö Inserting book: 1984
2025-07-23 14:04:10,574 [INFO] Running SQL:
INSERT INTO Book SET
        title = '1984',
        isbn = '9780451524935',
        year = 1949,
        summary = 'A dystopian novel set in a totalitarian society under constant surveillance.',
        edition = 'First'
2025-07-23 14:04:10,810 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:10', '@type': 'Book', '@cat': 'v', 'title': '1984', 'isbn': '9780451524935', 'year': 1949, 'summary': 'A dystopian novel set in a totalitarian society under constant surveillance.', 'edition': 'First'}]}
2025-07-23 14:04:10,824 [INFO] Running SQL:
INSERT INTO Publisher SET name = 'Secker & Warburg', location = 'London';
    CREATE EDGE PUBLISHED_BY FROM (SELECT FROM Book WHERE isbn = '9780451524935')
    TO (SELECT FROM Publisher WHERE name = 'Secker & Warburg');
2025-07-23 14:04:11,264 [INFO] ‚úÖ Success: {'result': [{'@rid': '#14:56', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:9', '@out': '#1:10'}]}
2025-07-23 14:04:11,274 [INFO] Running SQL:
INSERT INTO Author SET name = 'George Orwell', nationality = 'British', birth_year = 1903;
        CREATE EDGE WRITTEN_BY FROM (SELECT FROM Book WHERE isbn = '9780451524935')
        TO (SELECT FROM Author WHERE name = 'George Orwell');
2025-07-23 14:04:11,665 [INFO] ‚úÖ Success: {'result': [{'@rid': '#13:45', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:7', '@out': '#1:10'}]}
2025-07-23 14:04:11,683 [INFO] Running SQL:
INSERT INTO Category SET name = 'Fiction';
2025-07-23 14:04:11,912 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:16', '@type': 'Category', '@cat': 'v', 'name': 'Fiction'}]}
2025-07-23 14:04:11,924 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780451524935')
        TO (SELECT FROM Category WHERE name = 'Fiction');
2025-07-23 14:04:12,247 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:120', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:14', '@out': '#1:10'}, {'@rid': '#15:121', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:16', '@out': '#1:10'}]}
2025-07-23 14:04:12,268 [INFO] Running SQL:
INSERT INTO Category SET name = 'Dystopia';
2025-07-23 14:04:12,421 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:17', '@type': 'Category', '@cat': 'v', 'name': 'Dystopia'}]}
2025-07-23 14:04:12,511 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780451524935')
        TO (SELECT FROM Category WHERE name = 'Dystopia');
2025-07-23 14:04:12,783 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:122', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:17', '@out': '#1:10'}]}
2025-07-23 14:04:12,796 [INFO] Running SQL:
INSERT INTO Category SET name = 'Politics';
2025-07-23 14:04:12,917 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:18', '@type': 'Category', '@cat': 'v', 'name': 'Politics'}]}
2025-07-23 14:04:12,931 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9780451524935')
        TO (SELECT FROM Category WHERE name = 'Politics');
2025-07-23 14:04:13,283 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:123', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:18', '@out': '#1:10'}]}
2025-07-23 14:04:13,298 [INFO] ‚úÖ Finished inserting book: 1984

2025-07-23 14:04:13,313 [INFO] üìö Inserting book: The Origin of Species
2025-07-23 14:04:13,325 [INFO] Running SQL:
INSERT INTO Book SET
        title = 'The Origin of Species',
        isbn = '9781509827695',
        year = 1859,
        summary = 'The foundational text of evolutionary biology.',
        edition = 'Original'
2025-07-23 14:04:13,462 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:11', '@type': 'Book', '@cat': 'v', 'title': 'The Origin of Species', 'isbn': '9781509827695', 'year': 1859, 'summary': 'The foundational text of evolutionary biology.', 'edition': 'Original'}]}
2025-07-23 14:04:13,476 [INFO] Running SQL:
INSERT INTO Publisher SET name = 'John Murray', location = 'London';
    CREATE EDGE PUBLISHED_BY FROM (SELECT FROM Book WHERE isbn = '9781509827695')
    TO (SELECT FROM Publisher WHERE name = 'John Murray');
2025-07-23 14:04:13,842 [INFO] ‚úÖ Success: {'result': [{'@rid': '#14:57', '@type': 'PUBLISHED_BY', '@cat': 'e', '@in': '#7:10', '@out': '#1:11'}]}
2025-07-23 14:04:13,855 [INFO] Running SQL:
INSERT INTO Author SET name = 'Charles Darwin', nationality = 'British', birth_year = 1809;
        CREATE EDGE WRITTEN_BY FROM (SELECT FROM Book WHERE isbn = '9781509827695')
        TO (SELECT FROM Author WHERE name = 'Charles Darwin');
2025-07-23 14:04:14,117 [INFO] ‚úÖ Success: {'result': [{'@rid': '#13:46', '@type': 'WRITTEN_BY', '@cat': 'e', '@in': '#4:8', '@out': '#1:11'}]}
2025-07-23 14:04:14,132 [INFO] Running SQL:
INSERT INTO Category SET name = 'Biology';
2025-07-23 14:04:14,201 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:19', '@type': 'Category', '@cat': 'v', 'name': 'Biology'}]}
2025-07-23 14:04:14,201 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9781509827695')
        TO (SELECT FROM Category WHERE name = 'Biology');
2025-07-23 14:04:14,248 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:124', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:19', '@out': '#1:11'}]}
2025-07-23 14:04:14,248 [INFO] Running SQL:
INSERT INTO Category SET name = 'Evolution';
2025-07-23 14:04:14,285 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:20', '@type': 'Category', '@cat': 'v', 'name': 'Evolution'}]}
2025-07-23 14:04:14,287 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9781509827695')
        TO (SELECT FROM Category WHERE name = 'Evolution');
2025-07-23 14:04:14,347 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:125', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:20', '@out': '#1:11'}]}
2025-07-23 14:04:14,349 [INFO] Running SQL:
INSERT INTO Category SET name = 'Science';
2025-07-23 14:04:14,377 [INFO] ‚úÖ Success: {'result': [{'@rid': '#10:21', '@type': 'Category', '@cat': 'v', 'name': 'Science'}]}
2025-07-23 14:04:14,381 [INFO] Running SQL:
CREATE EDGE HAS_CATEGORY FROM (SELECT FROM Book WHERE isbn = '9781509827695')
        TO (SELECT FROM Category WHERE name = 'Science');
2025-07-23 14:04:14,455 [INFO] ‚úÖ Success: {'result': [{'@rid': '#15:126', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:0', '@out': '#1:11'}, {'@rid': '#15:127', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:2', '@out': '#1:11'}, {'@rid': '#15:128', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:4', '@out': '#1:11'}, {'@rid': '#15:129', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:6', '@out': '#1:11'}, {'@rid': '#15:130', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:8', '@out': '#1:11'}, {'@rid': '#15:131', '@type': 'HAS_CATEGORY', '@cat': 'e', '@in': '#10:21', '@out': '#1:11'}]}
2025-07-23 14:04:14,463 [INFO] ‚úÖ Finished inserting book: The Origin of Species

Retrieval

In [37]:
run_sql("SELECT title FROM Book")

2025-07-23 15:46:46,077 [INFO] Running SQL:
SELECT title FROM Book
2025-07-23 15:46:46,991 [INFO] ‚úÖ Success: {'result': [{'title': 'A Brief History of Time'}, {'title': 'A Brief History of Time'}, {'title': 'A Brief History of Time'}, {'title': 'A Brief History of Time'}, {'title': 'Sapiens: A Brief History of Humankind'}, {'title': 'Sapiens: A Brief History of Humankind'}, {'title': 'A Brief History of Time'}, {'title': 'Sapiens: A Brief History of Humankind'}, {'title': 'Thinking, Fast and Slow'}, {'title': 'To Kill a Mockingbird'}, {'title': '1984'}, {'title': 'The Origin of Species'}]}

{'result': [{'title': 'A Brief History of Time'},
  {'title': 'A Brief History of Time'},
  {'title': 'A Brief History of Time'},
  {'title': 'A Brief History of Time'},
  {'title': 'Sapiens: A Brief History of Humankind'},
  {'title': 'Sapiens: A Brief History of Humankind'},
  {'title': 'A Brief History of Time'},
  {'title': 'Sapiens: A Brief History of Humankind'},
  {'title': 'Thinking, Fast and Slow'},
  {'title': 'To Kill a Mockingbird'},
  {'title': '1984'},
  {'title': 'The Origin of Species'}]}

In [43]:
def delete_duplicate_books():
    # Step 1: Get all books by title
    sql = "SELECT title, count(*) as count FROM Book GROUP BY title"
    result = run_sql(sql).get("result", [])

    for row in result:
        title = row["title"]
        count = row["count"]

        if count > 1:
            # Step 2: Get RIDs for books with this title
            rid_result = run_sql(f"SELECT @rid FROM Book WHERE title = '{title}'")
            rids = [r["@rid"] for r in rid_result.get("result", [])]

            # Step 3: Keep one, delete the rest
            for rid in rids[1:]:  # Skip the first
                delete_sql = f"DELETE VERTEX FROM (SELECT FROM Book WHERE @rid = '{rid}')"
                run_sql(delete_sql)

delete_duplicate_books()

2025-07-23 15:59:26,715 [INFO] Running SQL:
SELECT title, count(*) as count FROM Book GROUP BY title
2025-07-23 15:59:27,042 [INFO] ‚úÖ Success: {'result': [{'title': 'A Brief History of Time', 'count': 5}, {'title': 'Sapiens: A Brief History of Humankind', 'count': 3}, {'title': 'Thinking, Fast and Slow', 'count': 1}, {'title': 'To Kill a Mockingbird', 'count': 1}, {'title': '1984', 'count': 1}, {'title': 'The Origin of Species', 'count': 1}]}
2025-07-23 15:59:27,046 [INFO] Running SQL:
SELECT @rid FROM Book WHERE title = 'A Brief History of Time'
2025-07-23 15:59:27,106 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:0'}, {'@rid': '#1:1'}, {'@rid': '#1:2'}, {'@rid': '#1:3'}, {'@rid': '#1:6'}]}
2025-07-23 15:59:27,108 [INFO] Running SQL:
DELETE VERTEX FROM (SELECT FROM Book WHERE @rid = '#1:1')
2025-07-23 15:59:27,493 [INFO] ‚úÖ Success: {'result': [{'count': 1}]}
2025-07-23 15:59:27,501 [INFO] Running SQL:
DELETE VERTEX FROM (SELECT FROM Book WHERE @rid = '#1:2')
2025-07-23 15:59:27,571 [INFO] ‚úÖ Success: {'result': [{'count': 1}]}
2025-07-23 15:59:27,574 [INFO] Running SQL:
DELETE VERTEX FROM (SELECT FROM Book WHERE @rid = '#1:3')
2025-07-23 15:59:27,624 [INFO] ‚úÖ Success: {'result': [{'count': 1}]}
2025-07-23 15:59:27,628 [INFO] Running SQL:
DELETE VERTEX FROM (SELECT FROM Book WHERE @rid = '#1:6')
2025-07-23 15:59:27,669 [INFO] ‚úÖ Success: {'result': [{'count': 1}]}
2025-07-23 15:59:27,673 [INFO] Running SQL:
SELECT @rid FROM Book WHERE title = 'Sapiens: A Brief History of Humankind'
2025-07-23 15:59:27,692 [INFO] ‚úÖ Success: {'result': [{'@rid': '#1:4'}, {'@rid': '#1:5'}, {'@rid': '#1:7'}]}
2025-07-23 15:59:27,696 [INFO] Running SQL:
DELETE VERTEX FROM (SELECT FROM Book WHERE @rid = '#1:5')
2025-07-23 15:59:27,746 [INFO] ‚úÖ Success: {'result': [{'count': 1}]}
2025-07-23 15:59:27,746 [INFO] Running SQL:
DELETE VERTEX FROM (SELECT FROM Book WHERE @rid = '#1:7')
2025-07-23 15:59:27,794 [INFO] ‚úÖ Success: {'result': [{'count': 1}]}

In [61]:
sql = """
    SELECT 
      title,
      isbn,
      year,
      summary,
      edition,
      (select expand(out('WRITTEN_BY')) from Book where @rid = b.@rid) as authors,
      (select expand(out('PUBLISHED_BY')) from Book where @rid = b.@rid) as publisher,
      (select expand(out('BELONGS_TO')) from Book where @rid = b.@rid) as categories
    from Book as b;
    """
print(run_sql(sql))

2025-07-23 16:19:17,621 [INFO] Running SQL:
SELECT
      title,
      isbn,
      year,
      summary,
      edition,
      (select expand(out('WRITTEN_BY')) from Book where @rid = b.@rid) as authors,
      (select expand(out('PUBLISHED_BY')) from Book where @rid = b.@rid) as publisher,
      (select expand(out('BELONGS_TO')) from Book where @rid = b.@rid) as categories
    from Book as b;
2025-07-23 16:19:17,823 [ERROR] ‚ùå HTTP 500: {'error': 'Error on transaction commit', 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <SELECT> "SELECT" at line 1, column 1. Was expecting one of:     <WHILE> ...     <IF> ...     <FOREACH> ...     ";" ...     ', 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

{'error': 'Error on transaction commit', 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <SELECT> "SELECT" at line 1, column 1. Was expecting one of:     <WHILE> ...     <IF> ...     <FOREACH> ...     ";" ...     ', 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

In [48]:
sql = """
-- Get all books with related information
LET books = (
  SELECT 
    title,
    isbn,
    year,
    summary,
    edition,
    (SELECT expand(out('WRITTEN_BY')) FROM Book WHERE @rid = b.@rid) AS authors,
    (SELECT expand(out('PUBLISHED_BY')) FROM Book WHERE @rid = b.@rid) AS publisher,
    (SELECT expand(out('BELONGS_TO')) FROM Book WHERE @rid = b.@rid) AS categories
  FROM Book AS b
);

-- Get all authors with books they wrote
LET authors = (
  SELECT 
    name,
    nationality,
    birth_year,
    (SELECT expand(in('WRITTEN_BY')) FROM Author WHERE @rid = a.@rid) AS books
  FROM Author AS a
);

RETURN [
  { type: 'books', data: $books },
  { type: 'authors', data: $authors }
]

"""

result = run_sql(sql)

2025-07-23 16:09:09,136 [INFO] Running SQL:
-- Get all books with related information
LET books = (
  SELECT
    title,
    isbn,
    year,
    summary,
    edition,
    (SELECT expand(out('WRITTEN_BY')) FROM Book WHERE @rid = b.@rid) AS authors,
    (SELECT expand(out('PUBLISHED_BY')) FROM Book WHERE @rid = b.@rid) AS publisher,
    (SELECT expand(out('BELONGS_TO')) FROM Book WHERE @rid = b.@rid) AS categories
  FROM Book AS b
);

-- Get all authors with books they wrote
LET authors = (
  SELECT
    name,
    nationality,
    birth_year,
    (SELECT expand(in('WRITTEN_BY')) FROM Author WHERE @rid = a.@rid) AS books
  FROM Author AS a
);

RETURN [
  { type: 'books', data: $books },
  { type: 'authors', data: $authors }
]
2025-07-23 16:09:09,469 [ERROR] ‚ùå HTTP 500: {'error': 'Error on transaction commit', 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <LET> "LET" at line 2, column 1. Was expecting one of:     <WHILE> ...     <IF> ...     <FOREACH> ...     ";" ...     <IF> ...     <IF> ...     <IF> ...     <IF> ...     <IF> ...     ', 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

In [53]:
script="""
let books = select title, isbn, year, summary, edition from Book;
let authors = select name, nationality, birth_year from Author;

RETURN { 
  "books": books, 
  "authors": authors 
};
"""
result = run_sql(script)

2025-07-23 16:13:34,426 [INFO] Running SQL:
let books = select title, isbn, year, summary, edition from Book;
let authors = select name, nationality, birth_year from Author;

RETURN {
  "books": books,
  "authors": authors
};
2025-07-23 16:13:34,459 [INFO] ‚úÖ Success: {'result': [{'value': {'books': None, 'authors': None}}]}

In [54]:
result

{'result': [{'value': {'books': None, 'authors': None}}]}

In [52]:
run_sql("select title from Book")

2025-07-23 16:13:11,853 [INFO] Running SQL:
select title from Book
2025-07-23 16:13:11,900 [INFO] ‚úÖ Success: {'result': [{'title': 'A Brief History of Time'}, {'title': 'Sapiens: A Brief History of Humankind'}, {'title': 'Thinking, Fast and Slow'}, {'title': 'To Kill a Mockingbird'}, {'title': '1984'}, {'title': 'The Origin of Species'}]}

{'result': [{'title': 'A Brief History of Time'},
  {'title': 'Sapiens: A Brief History of Humankind'},
  {'title': 'Thinking, Fast and Slow'},
  {'title': 'To Kill a Mockingbird'},
  {'title': '1984'},
  {'title': 'The Origin of Species'}]}

In [57]:
script="""
LET publisher = select from Publisher where name = 'Harper';
LET books = select expand( in('PUBLISHED_BY') ) from $publisher;

RETURN {
  "publisher": "Harper",
  "books": $books
};
"""
run_sql(script)

2025-07-23 16:15:34,750 [INFO] Running SQL:
LET publisher = select from Publisher where name = 'Harper';
LET books = select expand( in('PUBLISHED_BY') ) from $publisher;

RETURN {
  "publisher": "Harper",
  "books": $books
};
2025-07-23 16:15:35,062 [INFO] ‚úÖ Success: {'result': [{'value': {'books': [{'@rid': '#1:4', '@type': 'Book', '@cat': 'v', 'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First'}, {'@rid': '#1:4', '@type': 'Book', '@cat': 'v', 'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First'}, {'@rid': '#1:4', '@type': 'Book', '@cat': 'v', 'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First'}, {'@rid': '#1:4', '@type': 'Book', '@cat': 'v', 'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First'}, {'@rid': '#1:4', '@type': 'Book', '@cat': 'v', 'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First'}, {'@rid': '#1:4', '@type': 'Book', '@cat': 'v', 'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First'}], 'publisher': 'Harper'}}]}

{'result': [{'value': {'books': [{'@rid': '#1:4',
      '@type': 'Book',
      '@cat': 'v',
      'title': 'Sapiens: A Brief History of Humankind',
      'isbn': '9780062316097',
      'year': 2011,
      'summary': 'Explores the history and impact of Homo sapiens.',
      'edition': 'First'},
     {'@rid': '#1:4',
      '@type': 'Book',
      '@cat': 'v',
      'title': 'Sapiens: A Brief History of Humankind',
      'isbn': '9780062316097',
      'year': 2011,
      'summary': 'Explores the history and impact of Homo sapiens.',
      'edition': 'First'},
     {'@rid': '#1:4',
      '@type': 'Book',
      '@cat': 'v',
      'title': 'Sapiens: A Brief History of Humankind',
      'isbn': '9780062316097',
      'year': 2011,
      'summary': 'Explores the history and impact of Homo sapiens.',
      'edition': 'First'},
     {'@rid': '#1:4',
      '@type': 'Book',
      '@cat': 'v',
      'title': 'Sapiens: A Brief History of Humankind',
      'isbn': '9780062316097',
      'year': 2011,
      'summary': 'Explores the history and impact of Homo sapiens.',
      'edition': 'First'},
     {'@rid': '#1:4',
      '@type': 'Book',
      '@cat': 'v',
      'title': 'Sapiens: A Brief History of Humankind',
      'isbn': '9780062316097',
      'year': 2011,
      'summary': 'Explores the history and impact of Homo sapiens.',
      'edition': 'First'},
     {'@rid': '#1:4',
      '@type': 'Book',
      '@cat': 'v',
      'title': 'Sapiens: A Brief History of Humankind',
      'isbn': '9780062316097',
      'year': 2011,
      'summary': 'Explores the history and impact of Homo sapiens.',
      'edition': 'First'}],
    'publisher': 'Harper'}}]}

In [63]:
sql = """
LET books = select from Book;
LET enriched = (
  FOR b IN $books
    LET authors = (select expand(out('WRITTEN_BY')) from $b),
        publisher = (select expand(out('PUBLISHED_BY')) from $b),
        categories = (selectexpand EXPAND(out('BELONGS_TO')) from $b)
    RETURN {
      title: $b.title,
      isbn: $b.isbn,
      year: $b.year,
      summary: $b.summary,
      edition: $b.edition,
      authors: $authors,
      publisher: $publisher,
      categories: $categories
    }
);
RETURN $enriched;
"""
run_sql(sql)

2025-07-23 16:21:29,110 [INFO] Running SQL:
LET books = select from Book;
LET enriched = (
  FOR b IN $books
    LET authors = (select expand(out('WRITTEN_BY')) from $b),
        publisher = (select expand(out('PUBLISHED_BY')) from $b),
        categories = (selectexpand EXPAND(out('BELONGS_TO')) from $b)
    RETURN {
      title: $b.title,
      isbn: $b.isbn,
      year: $b.year,
      summary: $b.summary,
      edition: $b.edition,
      authors: $authors,
      publisher: $publisher,
      categories: $categories
    }
);
RETURN $enriched;
2025-07-23 16:21:29,152 [ERROR] ‚ùå HTTP 500: {'error': 'Error on transaction commit', 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <LET> "LET" at line 2, column 1. Was expecting one of:     <WHILE> ...     <IF> ...     <FOREACH> ...     ";" ...     <IF> ...     <IF> ...     <IF> ...     <IF> ...     <IF> ...     ', 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

{'error': 'Error on transaction commit',
 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <LET> "LET" at line 2, column 1. Was expecting one of:     <WHILE> ...     <IF> ...     <FOREACH> ...     ";" ...     <IF> ...     <IF> ...     <IF> ...     <IF> ...     <IF> ...     ',
 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

In [65]:
script = """
LET books = SELECT FROM Book;

LET authors = SELECT FROM Author;
LET publishers = SELECT FROM Publisher;
LET categories = SELECT FROM Category;

RETURN (
  FOR b IN $books
    RETURN {
      title: b.title,
      isbn: b.isbn,
      year: b.year,
      summary: b.summary,
      edition: b.edition,
      authors: (SELECT EXPAND(out('WRITTEN_BY')) FROM $b),
      publisher: (SELECT EXPAND(out('PUBLISHED_BY')) FROM $b),
      categories: (SELECT EXPAND(out('BELONGS_TO')) FROM $b)
    }
);
"""
run_sql(script)

2025-07-23 16:24:35,209 [INFO] Running SQL:
LET books = SELECT FROM Book;

LET authors = SELECT FROM Author;
LET publishers = SELECT FROM Publisher;
LET categories = SELECT FROM Category;

RETURN (
  FOR b IN $books
    RETURN {
      title: b.title,
      isbn: b.isbn,
      year: b.year,
      summary: b.summary,
      edition: b.edition,
      authors: (SELECT EXPAND(out('WRITTEN_BY')) FROM $b),
      publisher: (SELECT EXPAND(out('PUBLISHED_BY')) FROM $b),
      categories: (SELECT EXPAND(out('BELONGS_TO')) FROM $b)
    }
);
2025-07-23 16:24:35,241 [ERROR] ‚ùå HTTP 500: {'error': 'Error on transaction commit', 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <RETURN> "RETURN" at line 7, column 1. Was expecting one of:     <WHILE> ...     <IF> ...     <FOREACH> ...     ";" ...     ', 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

{'error': 'Error on transaction commit',
 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <RETURN> "RETURN" at line 7, column 1. Was expecting one of:     <WHILE> ...     <IF> ...     <FOREACH> ...     ";" ...     ',
 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

In [66]:
sql = """
SELECT 
  title,
  isbn,
  year,
  summary,
  edition,
  out('WRITTEN_BY') as authors,
  out('PUBLISHED_BY') as publisher,
  out('BELONGS_TO') as categories
FROM Book
"""
run_sql(sql)

2025-07-23 16:25:52,801 [INFO] Running SQL:
SELECT
  title,
  isbn,
  year,
  summary,
  edition,
  out('WRITTEN_BY') as authors,
  out('PUBLISHED_BY') as publisher,
  out('BELONGS_TO') as categories
FROM Book
2025-07-23 16:25:53,233 [INFO] ‚úÖ Success: {'result': [{'title': 'A Brief History of Time', 'isbn': '9780553380163', 'year': 1988, 'summary': 'A landmark volume in science writing by one of the great minds of our time.', 'edition': 'First', 'authors': [{'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}, {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}], 'publisher': [{'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}, {'name': 'Bantam Books', 'location': 'New York'}], 'categories': []}, {'title': 'Sapiens: A Brief History of Humankind', 'isbn': '9780062316097', 'year': 2011, 'summary': 'Explores the history and impact of Homo sapiens.', 'edition': 'First', 'authors': [{'name': 'Yuval Noah Harari', 'nationality': 'Israeli', 'birth_year': 1976}], 'publisher': [{'name': 'Harper', 'location': 'New York'}, {'name': 'Harper', 'location': 'New York'}, {'name': 'Harper', 'location': 'New York'}, {'name': 'Harper', 'location': 'New York'}, {'name': 'Harper', 'location': 'New York'}, {'name': 'Harper', 'location': 'New York'}], 'categories': []}, {'title': 'Thinking, Fast and Slow', 'isbn': '9780374533557', 'year': 2011, 'summary': 'Daniel Kahneman presents decades of research to help us understand how decisions are made.', 'edition': 'First', 'authors': [{'name': 'Daniel Kahneman', 'nationality': 'Israeli-American', 'birth_year': 1934}], 'publisher': [{'name': 'Farrar, Straus and Giroux', 'location': 'New York'}], 'categories': []}, {'title': 'To Kill a Mockingbird', 'isbn': '9780061120084', 'year': 1960, 'summary': 'A novel about the serious issues of rape and racial inequality.', 'edition': 'First', 'authors': [{'name': 'Harper Lee', 'nationality': 'American', 'birth_year': 1926}], 'publisher': [{'name': 'J.B. Lippincott & Co.', 'location': 'Philadelphia'}], 'categories': []}, {'title': '1984', 'isbn': '9780451524935', 'year': 1949, 'summary': 'A dystopian novel set in a totalitarian society under constant surveillance.', 'edition': 'First', 'authors': [{'name': 'George Orwell', 'nationality': 'British', 'birth_year': 1903}], 'publisher': [{'name': 'Secker & Warburg', 'location': 'London'}], 'categories': []}, {'title': 'The Origin of Species', 'isbn': '9781509827695', 'year': 1859, 'summary': 'The foundational text of evolutionary biology.', 'edition': 'Original', 'authors': [{'name': 'Charles Darwin', 'nationality': 'British', 'birth_year': 1809}], 'publisher': [{'name': 'John Murray', 'location': 'London'}], 'categories': []}]}

{'result': [{'title': 'A Brief History of Time',
   'isbn': '9780553380163',
   'year': 1988,
   'summary': 'A landmark volume in science writing by one of the great minds of our time.',
   'edition': 'First',
   'authors': [{'name': 'Stephen Hawking',
     'nationality': 'British',
     'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942},
    {'name': 'Stephen Hawking', 'nationality': 'British', 'birth_year': 1942}],
   'publisher': [{'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'},
    {'name': 'Bantam Books', 'location': 'New York'}],
   'categories': []},
  {'title': 'Sapiens: A Brief History of Humankind',
   'isbn': '9780062316097',
   'year': 2011,
   'summary': 'Explores the history and impact of Homo sapiens.',
   'edition': 'First',
   'authors': [{'name': 'Yuval Noah Harari',
     'nationality': 'Israeli',
     'birth_year': 1976}],
   'publisher': [{'name': 'Harper', 'location': 'New York'},
    {'name': 'Harper', 'location': 'New York'},
    {'name': 'Harper', 'location': 'New York'},
    {'name': 'Harper', 'location': 'New York'},
    {'name': 'Harper', 'location': 'New York'},
    {'name': 'Harper', 'location': 'New York'}],
   'categories': []},
  {'title': 'Thinking, Fast and Slow',
   'isbn': '9780374533557',
   'year': 2011,
   'summary': 'Daniel Kahneman presents decades of research to help us understand how decisions are made.',
   'edition': 'First',
   'authors': [{'name': 'Daniel Kahneman',
     'nationality': 'Israeli-American',
     'birth_year': 1934}],
   'publisher': [{'name': 'Farrar, Straus and Giroux',
     'location': 'New York'}],
   'categories': []},
  {'title': 'To Kill a Mockingbird',
   'isbn': '9780061120084',
   'year': 1960,
   'summary': 'A novel about the serious issues of rape and racial inequality.',
   'edition': 'First',
   'authors': [{'name': 'Harper Lee',
     'nationality': 'American',
     'birth_year': 1926}],
   'publisher': [{'name': 'J.B. Lippincott & Co.',
     'location': 'Philadelphia'}],
   'categories': []},
  {'title': '1984',
   'isbn': '9780451524935',
   'year': 1949,
   'summary': 'A dystopian novel set in a totalitarian society under constant surveillance.',
   'edition': 'First',
   'authors': [{'name': 'George Orwell',
     'nationality': 'British',
     'birth_year': 1903}],
   'publisher': [{'name': 'Secker & Warburg', 'location': 'London'}],
   'categories': []},
  {'title': 'The Origin of Species',
   'isbn': '9781509827695',
   'year': 1859,
   'summary': 'The foundational text of evolutionary biology.',
   'edition': 'Original',
   'authors': [{'name': 'Charles Darwin',
     'nationality': 'British',
     'birth_year': 1809}],
   'publisher': [{'name': 'John Murray', 'location': 'London'}],
   'categories': []}]}

In [69]:
sql = """
LET authors = SELECT FROM Author WHERE nationality = 'India';
LET books = SELECT EXPAND( in('WRITTEN_BY') ) FROM $authors;

IF $books.size() = 0 THEN
  RETURN "No books";
ELSE
  RETURN $books;
END;
"""
result = run_sql(sql)

2025-07-23 16:27:39,178 [INFO] Running SQL:
LET authors = SELECT FROM Author WHERE nationality = 'India';
LET books = SELECT EXPAND( in('WRITTEN_BY') ) FROM $authors;

IF $books.size() = 0 THEN
  RETURN "No books";
ELSE
  RETURN $books;
END;
2025-07-23 16:27:39,210 [ERROR] ‚ùå HTTP 500: {'error': 'Error on transaction commit', 'detail': 'com.arcadedb.query.sql.parser.ParseException: Encountered <IDENTIFIER> "$books" at line 4, column 4. Was expecting one of:     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     "(" ...     ', 'exception': 'com.arcadedb.exception.CommandSQLParsingException'}

import json

In [81]:
def run_cypher(cypher_query):
    url = f"{BASE_URL}/api/v1/command/{DB_NAME}"
    payload = {
        "command": cypher_query,
        "language":"cypher"
    }
    response = requests.post(url, auth=AUTH, json = payload)
    return response.text
# Example Cypher query to get books published by 'Harper'
cypher = """
MATCH (b:Book)-[:PUBLISHED_BY]->(p:Publisher)
WHERE p.name = 'Harper'
RETURN b.title, b.year, p.name AS publisher;
"""

result = run_cypher(cypher)

In [82]:
print(result)

{"result":[{"b.title":"Sapiens: A Brief History of Humankind","b.year":2011,"publisher":"Harper"},{"b.title":"Sapiens: A Brief History of Humankind","b.year":2011,"publisher":"Harper"},{"b.title":"Sapiens: A Brief History of Humankind","b.year":2011,"publisher":"Harper"},{"b.title":"Sapiens: A Brief History of Humankind","b.year":2011,"publisher":"Harper"},{"b.title":"Sapiens: A Brief History of Humankind","b.year":2011,"publisher":"Harper"},{"b.title":"Sapiens: A Brief History of Humankind","b.year":2011,"publisher":"Harper"}]}

In [83]:

def run_cypher(cypher_query):
    url = f"{BASE_URL}/api/v1/command/{DB_NAME}"
    payload = {
        "command": cypher_query,
        "language": "cypher"
    }
    response = requests.post(url, auth=AUTH, json=payload)
    
    if response.status_code == 200:
        return response.json()
    else:
        print(f"‚ùå Error {response.status_code}: {response.text}")
        return None

# Step 1: Create schema (if not already exists)
def create_schema():
    print("üì¶ Creating schema...")
    schema_queries = [
        "CREATE VERTEX TYPE Author IF NOT EXISTS;",
        "CREATE VERTEX TYPE Book IF NOT EXISTS;",
        "CREATE VERTEX TYPE Publisher IF NOT EXISTS;",
        "CREATE EDGE TYPE WRITTEN_BY IF NOT EXISTS;",
        "CREATE EDGE TYPE PUBLISHED_BY IF NOT EXISTS;"
    ]
    for query in schema_queries:
        run_cypher(query)
    print("‚úÖ Schema created.\n")

# Step 2: Insert sample data
def insert_sample_data():
    print("‚úçÔ∏è Inserting sample data...")

    # Insert Publisher
    run_cypher("CREATE (p:Publisher {name: 'Harper'})")

    # Insert Authors
    run_cypher("CREATE (:Author {name: 'R.K. Narayan', nationality: 'India'})")
    run_cypher("CREATE (:Author {name: 'George Orwell', nationality: 'UK'})")

    # Insert Books and relationships
    run_cypher("""
    MATCH (a:Author {name: 'R.K. Narayan'}), (p:Publisher {name: 'Harper'})
    CREATE (b:Book {title: 'Malgudi Days', year: 1943})-[:WRITTEN_BY]->(a),
           (b)-[:PUBLISHED_BY]->(p)
    """)

    run_cypher("""
    MATCH (a:Author {name: 'George Orwell'}), (p:Publisher {name: 'Harper'})
    CREATE (b:Book {title: '1984', year: 1949})-[:WRITTEN_BY]->(a),
           (b)-[:PUBLISHED_BY]->(p)
    """)
    
    print("‚úÖ Sample data inserted.\n")

# Step 3: Query example ‚Äî Get all books published by Harper
def query_books_by_publisher(publisher_name):
    print(f"üîç Books published by {publisher_name}:\n")
    cypher = f"""
    MATCH (b:Book)-[:PUBLISHED_BY]->(p:Publisher)
    WHERE p.name = '{publisher_name}'
    RETURN b.title AS title, b.year AS year, p.name AS publisher
    """
    result = run_cypher(cypher)
    if result and "result" in result:
        for row in result["result"]:
            print(f"üìò {row['title']} ({row['year']}) - Publisher: {row['publisher']}")
    else:
        print("‚ö†Ô∏è No books found.")

# Step 4: Query example ‚Äî Books written by Indian authors
def query_books_by_indian_authors():
    print("\nüîç Books written by Indian authors:\n")
    cypher = """
    MATCH (b:Book)-[:WRITTEN_BY]->(a:Author)
    WHERE a.nationality = 'India'
    RETURN b.title AS title, a.name AS author
    """
    result = run_cypher(cypher)
    if result and "result" in result and result["result"]:
        for row in result["result"]:
            print(f"üáÆüá≥ {row['title']} - Author: {row['author']}")
    else:
        print("‚ö†Ô∏è No books by Indian authors.")

# Run everything
if __name__ == "__main__":
    create_schema()
    insert_sample_data()
    query_books_by_publisher("Harper")
    query_books_by_indian_authors()

üì¶ Creating schema...
‚ùå Error 500: {"error":"Error on transaction commit","detail":"Error on executing Cypher query","exception":"com.arcadedb.exception.CommandParsingException"}
‚ùå Error 500: {"error":"Error on transaction commit","detail":"Error on executing Cypher query","exception":"com.arcadedb.exception.CommandParsingException"}
‚ùå Error 500: {"error":"Error on transaction commit","detail":"Error on executing Cypher query","exception":"com.arcadedb.exception.CommandParsingException"}
‚ùå Error 500: {"error":"Error on transaction commit","detail":"Error on executing Cypher query","exception":"com.arcadedb.exception.CommandParsingException"}
‚ùå Error 500: {"error":"Error on transaction commit","detail":"Error on executing Cypher query","exception":"com.arcadedb.exception.CommandParsingException"}
‚úÖ Schema created.

‚úçÔ∏è Inserting sample data...
‚úÖ Sample data inserted.

üîç Books published by Harper:

üìò Malgudi Days (1943) - Publisher: Harper
üìò Malgudi Days (1943) - Publisher: Harper
üìò Malgudi Days (1943) - Publisher: Harper
üìò Sapiens: A Brief History of Humankind (2011) - Publisher: Harper
üìò Sapiens: A Brief History of Humankind (2011) - Publisher: Harper
üìò Sapiens: A Brief History of Humankind (2011) - Publisher: Harper
üìò Sapiens: A Brief History of Humankind (2011) - Publisher: Harper
üìò Sapiens: A Brief History of Humankind (2011) - Publisher: Harper
üìò Sapiens: A Brief History of Humankind (2011) - Publisher: Harper
üìò Malgudi Days (1943) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper
üìò 1984 (1949) - Publisher: Harper

üîç Books written by Indian authors:

üáÆüá≥ Malgudi Days - Author: R.K. Narayan
üáÆüá≥ Malgudi Days - Author: R.K. Narayan
üáÆüá≥ Malgudi Days - Author: R.K. Narayan
üáÆüá≥ Malgudi Days - Author: R.K. Narayan

In [84]:
cypher = """
MATCH (b:Book)-[:WRITTEN_BY]->(a:Author),
      (b)-[:PUBLISHED_BY]->(p:Publisher)
WHERE a.nationality = 'India' AND p.name = 'Harper'
RETURN b.title AS title, b.year AS year, a.name AS author, p.name AS publisher
"""

run_cypher(cypher)

{'result': [{'title': 'Malgudi Days',
   'year': 1943,
   'author': 'R.K. Narayan',
   'publisher': 'Harper'},
  {'title': 'Malgudi Days',
   'year': 1943,
   'author': 'R.K. Narayan',
   'publisher': 'Harper'},
  {'title': 'Malgudi Days',
   'year': 1943,
   'author': 'R.K. Narayan',
   'publisher': 'Harper'},
  {'title': 'Malgudi Days',
   'year': 1943,
   'author': 'R.K. Narayan',
   'publisher': 'Harper'}]}